<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CajaDeAhorro.Properties.Settings.CAJA_AHORROConnectionString"
            connectionString="Data Source=DESKTOP-6I0A1DA\SQLEDUCODER78;Initial Catalog=CAJA_AHORRO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>